# Python files
*.pyc
*.pyo
__pycache__/

# Node.js dependencies 
node_modules/

# Client-side build files
client-side/node_modules/
client-side/dist/
client-side/build/

# Logs
*.log

# IDE/editor-specific files
.vscode/
.idea/

# Environment files
.env
